<form [formGroup]="editForm">
  <h2 mat-dialog-title>{{action}} comment</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field class="form-field">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-field">
        <mat-label>Text</mat-label>
        <input matInput formControlName="text">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onSaveClick()" [disabled]="disableSaveButton" color="primary">Save</button>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  </mat-dialog-actions>
</form>
